*{box-sizing: border-box;margin: 0;padding: 0;outline: none;} 
html, body, #root, .App {
    height: 100%;
    min-height: 100vh;
}

:root {
    --bg-main: #202020;
    --bg-sub: #1B1B1B;
    --bg-input: #2c2c2c;
    --text-primary: #ffffff;
    --text-secondary: #bdbdbd;
    --bubble-user: #4A4A4A;
    --bubble-ai: #333333;
    --aside-bg: #1C1C1C;
    --aside-hover: #3a3a3a;
    --btn-bg:#fff;
}

body.theme-light {
    --bg-main: #ffffff;
    --bg-sub: #f4f4f4;
    --bg-input: #e9e9e9;
    --text-primary: #111;
    --text-secondary: #555;
    --bubble-user: #d9eaff;
    --bubble-ai: #ececec;
    --aside-bg: #fafafa;
    --aside-hover: #e6e6e6;
    --btn-bg:#000;
}

.layout {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100vh;
    background: var(--bg-main);
}