*{box-sizing: border-box;margin: 0;padding: 0;outline: none;} 
html, body, #root, .App {
    height: 100%;
    min-height: 100vh;
}
a{text-decoration: none;}

.logo{
    color: var(--text-primary);
}

:root {
    --bg-main: #202020;
    --bg-sub: #1B1B1B;
    --bg-input: #2c2c2c;
    --text-primary: #ffffff;
    --text-secondary: #bdbdbd;
    --bubble-user: #4A4A4A;
    --bubble-ai: #333333;
    --aside-bg: #1C1C1C;
    --aside-hover: #3a3a3a;
    --btn-bg:#fff;
    --submit-btn:#ce5bab;
    --chat-title:#969696;
    --chat-title-line:#292929;
    /* Code block */
    --code-bg: #181818;
    --code-border: rgba(255, 255, 255, 0.14);
    --code-text: #ffffff;
    /* Scrollbar */
    --scrollbar-thumb: rgba(255,255,255,0.18);
    --scrollbar-thumb-hover: rgba(255,255,255,0.3);
    --scroll-down-btn: rgba(255, 255, 255, 0.829);
    --scroll-down-btn-hover: rgba(255, 255, 255, 0.603);
    /* Shadow + subtle layer */
    --elevation-1: rgba(0,0,0,0.15);
    --elevation-2: rgba(0,0,0,0.25);
}

body.theme-light {
    --bg-main: #ffffff;
    --bg-sub: #f4f4f4;
    --bg-input: #e9e9e9;
    --text-primary: #111;
    --text-secondary: #555;
    --bubble-user: #d9eaff;
    --bubble-ai: #ececec;
    --aside-bg: #fafafa;
    --aside-hover: #e6e6e6;
    --btn-bg:#000;
    --submit-btn:#ce5bab;
    --chat-title:#808080;
    --chat-title-line:#ececec;
    /* 코드블록 */
    --code-bg: #ffffff;
    --code-border: rgba(0, 0, 0, 0.12);
    --code-text: #111;
    --scrollbar-thumb: rgba(0,0,0,0.15);
    --scrollbar-thumb-hover: rgba(0,0,0,0.27);
    --scroll-down-btn: rgba(255, 255, 255, 0.12);
    --scroll-down-btn-hover: rgba(255, 255, 255, 0.12);
    --elevation-1: rgba(0,0,0,0.1);
    --elevation-2: rgba(0,0,0,0.18);
}

.layout {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100vh;
    background: var(--bg-main);
}