.header_wrap {
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    background: var(--bg-main);
    border-bottom: 1px solid #333;

    .material-symbols-outlined {
        font-variation-settings:
            'FILL' 0,
            'wght' 400,
            'GRAD' 0,
            'opsz' 26
    }

    button {
        background: transparent;
        border: none;
        padding: 2px;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 0.2s ease;
        color: var(--btn-bg);

        &:hover {
            background-color: rgba(255,255,255,0.08);
        }
    }
}
